/playground export-ignore
/tests export-ignore
/.github export-ignore
/eslint.config.mjs export-ignore
/prettier.config.mjs export-ignore
/vite.config.ts export-ignore
/vitest.config.ts export-ignore
